@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@
@{

    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 

}


 <section class="header-section container">
        <img src="/images/logotype.svg" alt="logo" />
        <div>
          <div class="contact-and-socials">
            <ul>
              <li>
                <a href="#"><i class="fa-solid fa-phone"></i> +46 (8) 121 470 50 |</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-envelope"></i> info@crito.com |</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-location-dot"></i> Sveavagen 31, 111 34 Stockholm </a>
              </li>
            </ul>
            <ul class="social-icons">
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <nav>
            <ul>
             
                <li><a class="@(Model.Id == site.Id ? "active" : null)" href="@site.Url()">@site.Name</a></li>
              
              @if (selection?.Length > 0)
                {
                 
                        @foreach (var item in selection)
                        {
                        
                         <li><a class="@(item.IsAncestorOrSelf(Model) ? "active": null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a></li>
            
                        }
                 
                }
            </ul>
            <button class="arrowhead">Login</button>
          </nav>
        </div>
      </section>